.contenedor3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#img2{
    width: 100%;
    margin:auto;
    }
footer h3 {
    padding: 20px;
    width: 1000px;
    font-family: "Balsamiq sans";
    font-size: 24px;
    margin: auto;
    text-align:justify;
}