body{
    background: rgb(87, 78, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
*{
    margin: 0px;
    padding: 0px;
}
.contenedor{/*contenedor padre*/
    width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}
li{ /*preguntar*/
    background:rgb(204, 114, 129);
}

li{/*Preguntar*/
    list-style:none;
    /*Quita viñeta*/
    overflow: hidden;
}
li{/*Preguntar*/
    float: left;
}
a{/*Preguntar*/
    text-decoration: none;
    /*Quita subrayado*/
    display: inline-block;
    color: rgb(125, 240, 240);
    padding: 15px 20px;
    margin: 5px;  
}
header nav ul li a:hover{
    background: tomato;
}
/*Hasta aqui menu de navegacion*/
article{
    width: 700px;
    background: rgb(3, 40, 161);
}
aside{
    background: rgb(46, 124, 226);
}
.lista2{
    background: rgb(34, 48, 245);
}
main img{
    width: 70%;
}