body{
font-family: Arial;
font-size: 16px;
background:plum;
}
.btn{
    color:rgb(0, 0, 0);
    background:salmon;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 20px;
}
.btn:hover{
    opacity: 0.8;
    text-decoration: underline;
}
.small{
    font-size:14px;
    padding: 10px 15px;
}
.medium{
    font-size: 16px;
    padding: 15px 20px;
}
.big{
    font-size: 18px;
    padding: 20px 25px;
}
.lila{
    background: #6a5bf0e3;
    color: black;
}
.rosado{
    background: rgb(224, 22, 147);
}
.rojo{
    background: rgb(223, 15, 50);
}
.redondeado{
    border-radius: 30%;
}