@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body{
    background: #c3f4fa;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*contenedor1* header*/
.contenedor1{
    padding: 50px;
    box-sizing: border-box;
    background: #48ace6;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
/*bloque logo*/
.contenedor .contenedor1 .logo{
    width: 30%;
    overflow: hidden;
}
/*logo*/
.contenedor .contenedor1 .logo img{
    display: flex;
    width: 100%;
}
/*titulo y menu*/
.contenedor .contenedor1 .titulo_menu{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*titulo*/
.contenedor .contenedor1 .titulo_menu .titulo h1{
        width: 100%;
        font-family: "Bradley Hand", monospace;
    
        font-family: 'Josefin Sans', sans-serif;
        font-size: 40px;
        text-align: center;/*
        font-style: oblique;*/
}
/*menu*/
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 24px;
} 
/*botones iniciales*/
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .boton1{
    padding: 12px;
    background: #385cff;
    color:#000000 ;
    margin-right: 10px;
    text-decoration: none;
}
/*botones iniciales con hover*/
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .boton1:hover{
    background-color: #0d10c4;
    color:#38bffd;
}
/*no se aplica encima el hover si colocamos esto*//*
.boton1:visited{
    background-color: #ff9999;
    color: #020420;
}*/
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .b1{
    overflow: hidden;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .b1:hover > .submenu1{
    display: block;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1{
    padding: 0px;
    margin: 0px;
    display: none;
    position: absolute;
    list-style: none;
}
/*submenus de botones iniciales*/
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-1{
    text-decoration: none;
    background: #385cff;
    color: #000000;
    padding: 10px 6.5px;
    display: block;
    margin-right: 15px;
}
/*submenus de botones iniciales hover*/
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-1:hover{
    background-color: #0d10c4;
    color:#38bffd;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-2{
    text-decoration: none;
    background: #385cff;
    color: #000000;
    padding: 10px 5px;
    display: block;
    margin-right: 15px;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-2:hover{
    background-color: #0d10c4;
    color:#38bffd;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-3{
    text-decoration: none;
    background: #385cff;
    color: #000000;
    padding: 10px 32px;
    display: block;
    margin-right: 15px;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-3:hover{
    background-color: #0d10c4;
    color:#38bffd;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-4{
    text-decoration: none;
    background: #385cff;
    color: #000000;
    padding: 10px 12px;
    display: block;
    margin-right: 15px;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-4:hover{
    background-color: #0d10c4;
    color:#38bffd;
}
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-5{
    text-decoration: none;
    background: #385cff;
    color: #000000;
    padding: 10px 10px;
    display: block;
    margin-right: 15px;
}  
.contenedor .contenedor1 .titulo_menu .main .menu .subcontenedor1 .submenu1 .boton1-5:hover{
    background-color: #0d10c4;
    color:#38bffd;
}